$inputHeight: 30px;

.inputItem2{
    border: none;
    height: $inputHeight;
}
.btn-th{
    width: 0%;
}
.inputItem1{
    border: none;
    height: $inputHeight;
    background: transparent;
    &:active,&:focus{
        background: #fff;
    }
}

.Selected,.Selected1{
    border: none;
    height: $inputHeight;
    &:hover,option:hover{
        cursor: pointer;
    }
}
.idSel{
    width: 30px;
    text-align: center;
}
.btn-calendario{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    border-radius: 0 4px 4px 0;
    // color: #673ab7;
    // &:hover{
    //     background: #673ab7;
    //     color: #fff;
    // }
}
.btn{
    height: $inputHeight;
    // margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
.btn-delete{
    min-width: 10px;
    font-size: 15px;
    padding: 5px 15px;
}

.input-search{
    margin-left: 20px;
    display: flex;
    $border-radius: 5px;
    span{
        padding: 5px 10px;
        border-radius: $border-radius 0 0 $border-radius;
        color: #fff;
        font-weight: 600;
        background: linear-gradient(-135deg, #899fd4 0%, #a389d4 100%);
    }
    input{
        border:1px solid #899fd4;
        border-radius: 0 $border-radius $border-radius 0;
    }
}
.btn-reset{
    margin-left: 20px;
    color:#6087e2;
    &:hover{
        cursor: pointer;
    }
    
}
.table{
    border-radius: 8px 8px 0 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-color: rgba(0, 0, 0, 0.342);
    
}
.no-reg{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: #0000004f;
    user-select: none;
    pointer-events: none;
    
}
.paramObl{
    font-weight: 600;
    color: rgba(185, 42, 42, 0.822);
}