<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h5>Nuevo {{utilService.ref}}</h5>
        </div>
        <div class="col-sm-12">
          <div class="card-block">
          <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <ng-container *ngFor="let key of keysValues">
                      <th *ngIf="key != 'Id'">
                        {{key}}
                      </th>
                    </ng-container>
                  </tr>
            </thead>
            <tbody class="createTable">
              <tr >
                <ng-container *ngFor="let key of keys ; index as j">
                    <ng-container *ngIf="!isKeyWObjct(key,desplegableData) else isObj">
                      <th *ngIf="key != 'id'">
                        <input type="text" class="inputItem2" [(ngModel)]="valoresInput[key]">
                      </th>
                    </ng-container>
                    <ng-template #isObj>
                      <th>
                        <select class="Selected" [(ngModel)]="valoresInput[key]">
                          <option disabled selected value="{{null}}">Seleccionar</option>
                          <ng-container *ngFor="let op of desplegableData[key]">
                            <option value="{{op.id}}">{{op.name}}</option>
                          </ng-container>
                        </select>
                      </th>
                    </ng-template>
                 </ng-container>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-outline-success d-flex" (click)="setData()">Crear</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h5 class="d-flex">Editar {{utilService.ref}}</h5>
          <button type="button" class="btn btn-outline-primary d-flex" style="margin-left: 10px;" (click)="updateData()">Actualizar</button>
          <div class="input-search">
            <span>Filtrar</span>
            <input (keyup)="buscarByName(inputBusqueda)" class="button" type="text" style="padding: 0 10px;" [(ngModel)]="inputBusqueda">
          </div>
          <span (click)="resetBusqueda()" class="btn-reset"><i class="ti ti-checkbox"></i>Reset</span>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <ng-container *ngFor="let key of keysValues">
                  <th *ngIf="key != 'Id'">
                    {{key}}
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody class="tbodyData"> 
              <tr *ngFor="let item of items ">
                <th (click)="deleteData(item.id)" style="width: 0;"><i class="ti ti-trash btn btn-delete btn-outline-danger" ></i></th>
                <ng-container *ngFor="let key of keys ; index as j">
                   <ng-container *ngIf="!isKeyWObjct(key,desplegableData) else obj">
                    <th *ngIf="key == 'id'" style="display: none;">
                      <input type="text" class="inputItem1" value="{{item[key]}}">
                    </th>
                    <th *ngIf="key != 'id'">
                      <input type="text" class="inputItem1" value="{{item[key]}}">
                    </th>
                   </ng-container>
                   <ng-template #obj >
                      <th *ngIf="desplegableData[key]">
                        <select class="Selected1">
                          <option *ngIf="item[key] != null" disabled selected value="{{item[key].id}}">{{item[key].name}}</option>
                          <option *ngIf="item[key] == null" disabled selected value="{{null}}"></option>
                          <ng-container *ngFor="let op of desplegableData[key]">
                            <option value="{{op.id}}">{{op.name}}</option>
                          </ng-container>
                        </select>
                      </th>
                   </ng-template>
                   <!-- <ng-container >
                    <span>FECHA</span>
                   </ng-container> -->
                </ng-container>
              </tr>
            </tbody>
          </table>

          <ng-container *ngIf="!dataFilter[0]">
            <span class="no-reg">*No se encontraron registros</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>