<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h5>Asignar nuevo rol a menú</h5>
          <!-- <a style="margin-left: 20px;" target="_blank" class="btn-outline-info d-flex btn-sm" href="https://icons.getbootstrap.com/"><span><i class="ti ti-checkbox"></i>Ver iconos</span></a> -->
        </div>
        <div class="col-sm-12">
          <div class="card-block">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Menu
                </th>
                <th>
                  Rol de Usuario
                </th>
              </tr>
            </thead>
            <tbody class="createTable">
              <tr >
                <th>
                    <select  class="Selected" >
                      <option disabled selected value="">Seleccione un menú</option>
                      <option *ngFor="let menu of menuList" value="{{menu.id}}">{{menu.id}} {{menu.name}}</option>
                    </select>
                </th>
                <th>
                    <select  class="Selected" >
                      <option disabled selected value="">Seleccione Rol de Usuario</option>
                      <option *ngFor="let rol of userRol" value="{{rol.id}}">{{rol.id}} {{rol.name}}</option>
                    </select>
                </th>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-outline-success d-flex" (click)="setMenuRol()">Crear</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h5 class="d-flex">Editar rol de menú</h5>
          <div class="input-search">
            <span>Filtrar por menú</span>
            <input class="button" type="text" style="padding: 0 10px;" (keyup)="buscarByMenuName(inputBusqueda)" [(ngModel)]="inputBusqueda">
          </div>
          <div class="input-search">
            <span>Filtrar por rol</span>
            <input class="button" type="text" style="padding: 0 10px;" (keyup)="buscarByRolName(inputBusqueda2)" [(ngModel)]="inputBusqueda2">
          </div>
          <span class="btn-reset" (click)="busquedaReset()"><i class="ti ti-checkbox"></i>Reset</span>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <ng-container *ngFor="let key of keys">
                  <th *ngIf="key != 'Id'">
                    {{key}}
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody class="tbodyData"> 
              <tr *ngFor="let item of items ">
                <th style="width: 0;" (click)="deleteMenuRol(item.id)"><i class="ti ti-trash btn btn-delete btn-outline-danger" ></i></th>
                <ng-container *ngFor="let key of keysData ; index as j">
                  <!-- <input style="width: 0;" class="Selected1 idSel"   disabled *ngIf="key == 'id'" value="{{item[key]}}"> -->
                  <!-- <span disabled *ngIf="key == 'id'">{{item[key]}}</span> -->
                  <!-- <ng-container *ngIf="key != 'id' && key == 'idRolUsuario'">
                    <select  class="Selected1" >
                      <option disabled selected value="{{item[key].id}}">{{item[key].id}} {{item[key].name}}</option>
                      <option *ngFor="let rol of userRol" value="rol.id">{{rol.id}} {{rol.name}}</option>
                    </select>
                   </ng-container> -->
                   <th *ngIf="key != 'id'">
                    <span>{{item[key].name}}</span>
                   </th>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>