<div class="row">
    <!-- [ sample-page ] start -->
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <h5>{{UtilService.menuTitulo}}</h5>
              </div>
              <div class="card-body">
                  <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th *ngFor="let key of keys">
                            {{key}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of data">
                          <th style="font-weight: 300;" *ngFor="let key of items">
                            {{item[key]}}
                          </th>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
      </div>
    <!-- [ sample-page ] end -->
  </div>
