.inputItem2{
    width: 100%;
    border: none;
}
.btn-th{
    width: 0%;
}
.inputItem1{
    width: 100%;
    border: none;
    background: transparent;
    &:active,&:focus{
        background: #fff;
    }
}
.Selected,.Selected1{
    width: 100%;
    border: none;
    &:hover,option:hover{
        cursor: pointer;
    }
}
.idSel{
    width: 50px;
    text-align: center;
}
.btn{
    min-width: 150px;
    height: 30px;
    // margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
.btn-delete{
    min-width: 10px;
    font-size: 15px;
}
.input-search{
    margin-left: 20px;
    display: flex;
    $border-radius: 5px;
    span{
        padding: 5px 10px;
        border-radius: $border-radius 0 0 $border-radius;
        color: #fff;
        font-weight: 600;
        background: linear-gradient(-135deg, #899fd4 0%, #a389d4 100%);
    }
    input{
        border:1px solid #899fd4;
        border-radius: 0 $border-radius $border-radius 0;
    }
}
.btn-reset{
    margin-left: 20px;
    color:#6087e2;
    &:hover{
        cursor: pointer;
    }
    
}
.table{
    border-radius: 8px;
    overflow: hidden;
}