.inputItem{
    width: 100%;
    border: none;
}
.Selected{
    width: 100%;
    border: none;
    &:hover{
        cursor: pointer;
    }
}
.btn{
    min-width: 250px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}