<li *ngIf="item.url" [routerLinkActive]="['active']">
  <a class="nav-item" target="_self" [routerLink]="[item.url]" (click)="closeOtherMenu($event);ejecutarMetodo(item.ejecuta,item.name);">
    <span *ngIf="item.icono" class="coded-micon"><i [ngClass]="'ti ti-'+item.icono"></i></span>
    <span class="coded-mtext" *ngIf="item.icono; else directTitle">{{ item.name }}</span>
    <ng-template #directTitle>
      {{ item.name }}
    </ng-template>
  </a>
</li>
<!-- <li [ngClass]="item.classes!" *ngIf="item.url && item.external">
  <a target="_self" [href]="item.url">
    <span *ngIf="item.icon" class="coded-micon"><i [ngClass]="item.icon"></i></span>
    <span class="coded-mtext" *ngIf="item.icon; else directTitle">{{ item.title }}</span>
    <ng-template #directTitle>
      {{ item.title }}
    </ng-template>
  </a>
</li> -->
